body{
  background-image: url('../images/mobile_bkgd.png');
}
.background_header{
  background-image: url('../images/navbar@2x.png');
  z-index: 1000;
  width:102%;
  height:45px;

  margin-top:-4px;
  padding:4px;
  top:0;
  left:0;
}
.bar{
  background: none !important;
  padding:3px;
}