<div class="bar bar-header bar-dark" >

	<span class="background_header">		
		<a href="#/home" class="button button-positive"><i class="icon ion-ios7-arrow-back"></i>Back</a>
  		<h1 class="title">Video</h1>
	</span>

</div>

<ion-content has-header="true" has-footer="false" padded="true">
		<a href="http://www.beatflipz.com" target="_blank"><img src="images/468X60.png" alt="" width="100%"></a>
<div class="list card" style="background-color:black;margin-top:0px;">

<iframe width="330" height="335" src="https://www.youtube.com/embed/8Um_jpt5yVc?rel=0" frameborder="0" allowfullscreen></iframe>
 
</div>
</ion-content>
