<div class="bar bar-header bar-dark" >
	<span class="background_header">	
	 
	  <h1 class="title" style="margin-top:-9px;">  <img src="images/ic_launcher.png" style="left:0px;top:15px;position:relative;"
	  alt="">&nbsp;BeatFlipz Mobile</h1>
	</span>
</div>
<content has-header="true" has-footer="false" padded="true">
	<div class="list item-thumbnail-left" style="">
	  <a href="#/contacts" class="item item-icon-left">
	    <i class="icon ion-person-stalker"></i>
	     BeatFlipz Contacts
	  </a>

	  <a href="#/tags" class="item item-icon-left">
	    <i class="icon ion-pricetags"></i>
	    Your Tags
	  </a>

	  <a href="#/beatflipzad" class="item item-icon-left">
	    <i class="icon ion-social-youtube"></i>
	   	What is BeatFlipz Pro?
	  </a>	 
	</div>
</content>