<div class="bar bar-header bar-dark" >
	<span class="background_header">	
    <a href="#/home" class="button button-positive">  <i class="icon ion-ios7-arrow-back"></i> Back</a>
  		<h1 class="title" style="margin-top:-9px;">  <img src="images/ic_launcher.png" style="left:0px;top:15px;position:relative;"
	  alt="">&nbsp;Tags</h1>

  	 <button class="button button-positive" ng-click="saveTags()"> <i class="icon ion-upload"></i> Save</button>
	</span>
</div>
<ion-content has-header="true" padded="true">

	<div class="list">
		<div class="item">
			<h2>Select Tags</h2>
			<p ng-show="user.type=='artist'">BeatFlipz will send you tracks thats match your tags</p>
			<p ng-show="user.type=='producer'">BeatFlipz will match you with artists based on your tags</p>
		</div>
		<div ng-repeat="tag in tags" class="item item-button-right">
		  <h2>{{tag.tags | uppercase }}</h2>
		  <p> {{tag.numemails}} artists <i class="icon ion-thumbsup"></i> {{tag.tag}} </p>
	 		<!-- <label class="checkbox">
	       		<input type="checkbox" name="tags" ng-model="sTags[tag.tag]" value="{{tag.tag}}" ng-true-value="true" ng-false-value="false">
	    	</label> -->

		    <button class="button button-light" ng-show="checkUserTag(tag.tag)" ng-click="deselectTag(tag.tag)">
		      <i class="icon ion-heart"></i>
		    </button>	
		    <button class="button" ng-show="!sTags.hasOwnProperty(tag.tag)" ng-click="selectTag(tag.tag)">
		      <i class="icon ion-ios7-plus-outline"></i>
		    </button>
		</div>
	</div>
</ion-content>
